/*

  LAYOUT
  - Position
  - Display
  - Top
  - Right
  - Left

*/
/* Position */
.p-relative {position: relative;}
.p-absolute {position: absolute;}
/* Display */
.d-block {display: block;}
.d-none {display: none;}
.d-flex {display: flex;}
.ai-center {align-items: center;}
.jc-center {justify-content: center;}
/* Top */
.t--2px {top: -2px;}
.t--6rem {top: -9rem;}
/* Right */
.r-2rem {right: 2rem;}
/* Left */
.l-0_5rem {left: 0.5rem;}
/*

  SIZING
  - Height
  - Width

*/
/* Height */
.h-4rem {height: 4rem;}
.h-11_25rem {height: 11.25rem;}
.h-13rem {height: 13rem;}
/* Width */
.w-100p {width: 100%;}
.w-11_25rem {width: 11.25rem;}
/*

  SPACING
  - Margin
  - Padding

*/
/* Margin */
.mb-0_5rem {margin-bottom: 0.5rem;}
.mb-1rem {margin-bottom: 1rem;}
.mb-1_6rem {margin-bottom: 1.6rem;}
.mb-2rem {margin-bottom: 2rem;}
.mb-3rem {margin-bottom: 3rem;}
.mb-4rem {margin-bottom: 4rem;}
.ml-2rem {margin-left: 2rem;}
/* Padding */
.pt-5_5rem {padding-top: 5.5rem;}
.pb-12rem {padding-bottom: 12rem;}
.ph-1rem {padding-right: 1rem; padding-left: 1rem;}
/*

  TYPOGRAPHY
  - Apercu Regular
  - Apercu Black
  - Apercu Mono
  - Font family
  - Font size
  - Letter spacing
  - Line height
  - Color

*/
/* Apercu Light */
@font-face {
  font-family: "Apercu Light";
  src: url("fonts/Apercu-Light-Pro.eot");
  src:
    url("fonts/Apercu-Light-Pro.ttf") format("ttf"),
    url("fonts/Apercu-Light-Pro.woff") format("woff"),
    url("fonts/Apercu-Light-Pro.woff2") format("woff2");
}
/* Apercu Regular */
@font-face {
  font-family: "Apercu Regular";
  src: url("fonts/Apercu-Regular-Pro.eot");
  src:
    url("fonts/Apercu-Regular-Pro.ttf") format("ttf"),
    url("fonts/Apercu-Regular-Pro.woff") format("woff"),
    url("fonts/Apercu-Regular-Pro.woff2") format("woff2");
}
/* Apercu Medium */
@font-face {
  font-family: "Apercu Medium";
  src: url("fonts/Apercu-Medium-Pro.eot");
  src:
    url("fonts/Apercu-Medium-Pro.ttf") format("ttf"),
    url("fonts/Apercu-Medium-Pro.woff") format("woff"),
    url("fonts/Apercu-Medium-Pro.woff2") format("woff2");
}
/* Apercu Bold */
@font-face {
  font-family: "Apercu Bold";
  src: url("fonts/Apercu-Bold-Pro.eot");
  src:
    url("fonts/Apercu-Bold-Pro.ttf") format("ttf"),
    url("fonts/Apercu-Bold-Pro.woff") format("woff"),
    url("fonts/Apercu-Bold-Pro.woff2") format("woff2");
}
/* Apercu Black */
@font-face {
  font-family: "Apercu Black";
  src: url("fonts/Apercu-Black-Pro.eot");
  src:
    url("fonts/Apercu-Black-Pro.ttf") format("ttf"),
    url("fonts/Apercu-Black-Pro.woff") format("woff"),
    url("fonts/Apercu-Black-Pro.woff2") format("woff2");
}
/* Apercu Mono */
@font-face {
  font-family: "Apercu Mono";
  src: url("fonts/Apercu-Mono-Regular-Pro.eot");
  src:
    url("fonts/Apercu-Mono-Regular-Pro.ttf") format("ttf"),
    url("fonts/Apercu-Mono-Regular-Pro.woff") format("woff"),
    url("fonts/Apercu-Mono-Regular-Pro.woff2") format("woff2");
}
/* Font family */
.ff-apercu-light {font-family: "Apercu Light", sans-serif;}
.ff-apercu-regular {font-family: "Apercu Regular", sans-serif;}
.ff-apercu-medium {font-family: "Apercu Medium", sans-serif;}
.ff-apercu-bold {font-family: "Apercu Bold", sans-serif;}
.ff-apercu-black {font-family: "Apercu Black", sans-serif;}
.ff-apercu-mono {font-family: "Apercu Mono", sans-serif;}
/* Font size */
.fs-0_875rem {font-size: 0.875rem;}
.fs-1_2rem {font-size: 1.2rem;}
.fs-1_6rem {font-size: 1.6rem;}
.fs-3_5rem {font-size: 3.5rem;}
/* Font style */
.fst-bold {font-style: bold;}
/* Letter spacing */
.ls-0_05rem {letter-spacing: 0.05rem;}
/* Line height */
.lh-1_3rem {line-height: 1.3rem;}
.lh-1_5rem {line-height: 1.5rem;}
.lh-2rem {line-height: 2rem;}
.lh-3_8rem {line-height: 3.8rem;}
/* Color */
.c-black {color: #000000;}
.c-beige {color: #FFF4D7;}
/*

  BACKGROUNDS
  - Background color
  - Background size
  - Star
  - Triangles

*/
/* Background color */
.bc-black {background-color: #000000;}
.bc-blue {background-color: #3971DE;}
/* Background size */
.bs-contain {background-size: 100%;}
/* Background repeat */
.br-no_repeat {background-repeat: no-repeat;}
/* Star */
.star {background-image: url("../images/star.svg");}
/* Triangles */
.triangles {background-image: url("../images/triangles.svg");}
/*

  TRANSFORM
  - Rotate

*/
/* Rotate */
.t-rotate-10deg {transform: rotate(10deg);}
/*

  ANIMATION
  - Animation
  - Keyframes

*/
/* Animation */
.a-spin {
  animation: spin 25s linear infinite;
  -moz-animation: spin 25s linear infinite;
  -webkit-animation: spin 25s linear infinite;
  -o-animation: spin 25s linear infinite;
}
/* Keyframes */
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
/*

  MEDIA QUERIES
  - Not small (+40rem)
  - Medium (+64rem)

*/
/* Not small */
@media screen and (min-width: 40rem) {
  /*

    LAYOUT
    - Top
    - Right

  */
  /* Top */
  .t--14rem-ns {top: -14rem;}
  /* Right */
  .r-4rem-ns {right: 4rem;}
  /*

    SIZING
    - Height
    - Width
    - Max width

  */
  /* Height */
  .h-18rem-ns {height: 18rem;}
  /* Width */
  .w-18rem-ns {width: 18rem;}
  /* Max width */
  .mw-18rem-ns {max-width: 18rem;}
  /*

    TYPOGRAPHY
    - Font size

  */
  /* Font size */
  .fs-2rem-ns {font-size: 2rem;}
  /*

    BACKGROUND
    - Background size

  */
  /* Background size */
  .bs-cover-ns {background-size: contain;}
}
/* Medium */
@media screen and (min-width: 64rem) {
  /*

    LAYOUT
    - Position
    - Display
    - Top
    - Right

  */
  /* Position */
  .p-fixed-m {position: fixed;}
  /* Display */
  .d-block-m {display: block;}
  .d-none-m {display: none;}
  /* Top */
  .t-0-m {top: 0;}
  /* Right */
  .r-0-m {right: 0;}
  /*

    SIZING
    - Height
    - Width

  */
  /* Height */
  .h-100vh-m {height: 100vh;}
  /* Width */
  .w-50p-m {width: 50%;}
  /*

    BACKGROUND
    - Background color

  */
  /* Background color */
  .bc-blue-m {background-color: #3971DE;}
}
